
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Variables */

:root {
    --bordes: #876864;
    --transiciones: #a38985;
    --bordes-banners: black;
    --color-letra: white;
    --color-titulos: #978d8c;
    --color-parrafo: #e2d3d1;
}

/* Reinicio de variables del sistema */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
}

/* Body */

body {
    background-image: url(../../public/img/fondo.webp);
}

/* Títulos */

.h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: var(--color-titulos);
    font-size: 50px;
    border: 1px solid;
}

/* Header */

header {
    background-image: url(../../public/img/banner.webp);
    height: 120px;
    width: 100%;
    border-top: 5px solid var(--bordes);
    border-bottom: 5px solid var(--bordes);
    transition: border-color 0.3s ease;
    position: fixed;
    top: 0;
}

header:hover {
    border-color: var(--transiciones);
}

header nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

header img {
    height: 100px;
    border-radius: 50px;
    background-color: var(--bordes);
    border: 2px solid var(--bordes-banners);
    transition: background-color 0.3s ease;
}

header img:hover {
    background-color: var(--transiciones);
}

header ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    cursor: pointer;
}

header li a {
    border: 2px solid var(--bordes-banners);
    padding: 10px;
    background-color: var(--bordes);
    color: var(--color-letra);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

header li a:hover {
    background-color: var(--transiciones);
}

/* Sección de home */

#home {
    width: 100%;
    padding: 20px;
    margin-top: 120px;
}

#home h1 {
    margin-bottom: 20px;
    color: var(--color-titulos);
    font-size: 50px;
    padding-left: 100px;
    border: 2px solid;
}

#home article {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--transiciones);
    border: 3px solid var(--bordes);
    padding: 10px;
}

#home p {
    width: 22%;
    height: 500px;
    text-align: justify;
    color: var(--color-parrafo);
}

#home img {
    width: 19%;
    height: 500px;
    border: 3px solid var(--bordes);
}

/* Sección nosotros */

#nosotros {
    width: 100%;
    padding: 20px;
}

#nosotros article {
    display: flex;
    justify-content: center;
}

#nosotros video {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 3px solid var(--bordes);
}

/* Sección productos */

#productos {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#productos figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 25%;
    background-color: var(--transiciones);
    border: 3px solid var(--bordes);
    font-weight: bold;
    margin-bottom: 40px;
    border-radius: 10px;
}

#productos img {
    width: 300px;
    height: 300px;
    border: 3px solid var(--bordes);
}

#productos figcaption {
    margin-top: 20px;
}

/* Sección ubicación */

#ubicacion article{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* Sección contacto */

#contacto {
    padding: 50px 0;
    text-align: center;
}

#contacto article {
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

#contacto span {
    font-weight: bold;
}

#contacto form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

#contacto input, #contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

#contacto button {
    padding: 10px 20px;
    background-color: var(--bordes);
    color: var(--color-letra);
    font-weight: bold;
    border: 1px solid var(--bordes-banners);
    border-radius: 5px;
    transition: background-color 0.3s;
}

#contacto button:hover {
    background-color: var(--transiciones); 
}

/* Footer */

footer {
    height: 120px;
    width: 100%;
    background-image: url(../../public/img/banner.webp);
    border-top: 5px solid var(--bordes);
    border-bottom: 5px solid var(--bordes);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    transition: background-color 0.3s ease;
}

footer:hover {
    border-color: var(--transiciones);
}

footer p {
    border: 2px solid var(--bordes-banners);
    padding: 10px;
    background-color: var(--bordes);
    color: var(--color-letra);
    font-weight: bold;
}

footer a {
    margin-right: 20px;
    border: 2px solid var(--bordes-banners);
    padding: 10px;
    background-color: var(--bordes);
    color: var(--color-letra);
}